html {
  font-size: 10px;
  background-color: #22272e;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heading {
    display: flex;
    min-width: 100vw;
    justify-content: center;
    position: absolute;
    font-size: 5vw;
    font-weight: bolder;
    color: #cdd9e5;
    background-color: #2f3f54;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: #cdd9e5;
  background: #2f3f54;
}

.playing {
  transform: scale(1.12);
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #89e051;
}
